// Colors
$blackColor: rgb(25, 21, 21);
$whiteColor: white;
$greenColor: rgb(12, 86, 12);
$redColor: rgb(149, 28, 28);

// Fonts
$titleFont: Arial,
Helvetica,
sans-serif;
$bodyFont: 'Times New Roman',
Times,
serif;